
@font-face {
    font-family: 'San Francisco';
    src: url("/assets/fonts/SF-UI-Text-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body {

    font-family: 'San Francisco', Helvetica Neue, sans-serif!important;
    font-size: 14px;
}
.action_image{
	height: 10px;
	width: 10px;
	float: left;
	display: inline;
}

.chain {
	width: 100%;
}

#chain_ul
 {
	 width: auto;
	 height: auto;
	 margin: 5px;

 }

#chain_ul_modes
{
	width: auto;
	height: auto;
	/*margin: 5px;*/
}

.blackhead{
	background-color: #afafaf;
	color: #0c0c0c;
}


tr.active{
	color: #b92c28;
}

.edit_info {

}

.pre-scrollable {
	max-height: 89%;
	overflow-y: auto;
	overflow-x: auto;
}


.panel-default{
	/*height: 90%;*/
	margin: 0%;
}
.modal-xl
{
	width: 80%;
}

.Container {
	width: 100%;
}

.test {
	border-left: 1px solid #DDDDDD;
}

.panel-body {
	padding: 15px 15px 0 15px;
}

.nav_left a {
	color: #fff;
	display: inline-block;
}

#left_menu > li > a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#left_menu li {
  border-bottom: 1px dashed;
  color: #fff;
}

#left_menu li:last-child {
  border-bottom: 0px;
}

#left_menu > li > a:hover{
	color: #0076ff!important;
	background-color:#080808!important;;
}

#left_menu > li > a:focus{
	color: #0076ff!important;
	background-color:#080808!important;;
}

.table_height {
    height: 82%;
    overflow: auto;
}

#table_mt{
    height: 80%;
    overflow-y: auto;
    width: 100%;
}

.active > a {
    background-color: #222222!important;
}


header li a {
    margin: 0!important;
    padding: 0!important;
}

#TabSelectChain {
    width: 206px;
    border-left: 1px dashed #fff;
}

#TabSelectOrg {
  width: 185px;
}

#TabSelectPoint {
    width: 210px;
}

header select {
    height: 50px;
    background-color: #222;
    color: #fff;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 1px dashed #fff;
    border-left: 0px;
    cursor: pointer;
    outline: 0px;
    padding-left: 14px;
    padding-right: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s;
}

header select:hover {
    color: #0076ff;
    background-color:#080808;
}

header option{
    color: #fff!important;
}

label {
    font-weight: normal;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    display: block;
}


select#TabSelectChain {
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#TabSelectOrg {
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select#TabSelectPoint {
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


label:before {
    content:"\f078 ";
    font-family: FontAwesome;
    color: #0076ff;
    position: absolute;
    right: 0;
    top: 15px;
    z-index: 1;
    width: 18px;
    height: 100%;
    pointer-events: none;
}

label.wrap:before {
    content:"\f077 ";
}

nav button {
    border: 1px solid #1992d9;
    background: linear-gradient(#37aaea,#117ed2);
    overflow: visible;
    border-radius: 3px;
}

nav button:hover {
    background: linear-gradient(#37aaea,#0C5B97);
    background-color: #0C5B97;
}

nav button a {
    color:#fff;
}

nav button a:hover, nav button a:visited, nav button a:focus {
    color:#fff;
    text-decoration: none;
}

#pointPanel select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    background: linear-gradient(white,#e3e3e3);
    cursor: pointer;
    height: 30px;
    outline: 0px;
}

#pointPanel select:hover {
    background-color: #eee;
    background: linear-gradient(white,#eee);
}

#pointPanel button {
    background: linear-gradient(white,#e3e3e3);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    outline: 0px;
}

#pointPanel button:hover {
    background-color: #eee;
    background: linear-gradient(white,#eee);
}

#pointPanel input {
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 2px 0px 2px 7px;
    background-color: #F1F1F1;
    cursor: pointer;
}


.display-none {
    display:none!important;
}



.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
      border-top:0px
}

.table-wrapper {
    width: 76.5%;
    overflow: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.table-wrapper .panel-default {
  
}

.table-fixed, .panel-default {
    /*background-color: #f1f2f6;*/
}

.table-fixed thead {
    width: 100%;
    height: 38px;
    background-color: #d7d7d7;
}

.table-fixed thead>tr {
    background-color: #d7d7d7;
}


.table-fixed tbody {
	min-height: 500px;
    max-height: 500px;
    /*height: 500px;*/
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding:0px;
    margin:0px;
    font-size: 18px;
}

/*.table-fixed thead, .table-fixed tbody,  .table-fixed td, .table-fixed th {
    display: block;
}*/

/*.table-fixed tr {
    width: 100%;
    display: inline-block;
}*/

.table-log tbody td, .table-log thead > tr> th {
    text-overflow: clip!important;
}

/*.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    text-overflow: ellipsis;
    overflow : hidden;
    border: 0px solid #c8c7cc;
    text-align: center;
    white-space: normal
}*/

/*.table-fixed tbody td #table_name {
	text-align: left;
}*/

/*.table-fixed tbody tr {
    display: flex;
    flex-direction: row!important;
}*/

.table-fixed tbody td {
    font-size: 0.75em;
    border-bottom: 1px solid #c8c7cc;
}

.table-fixed thead > tr> th {

}


table.scroll {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody td, thead th {
    width: 20%; /* Optional */

}

tbody td:last-child, thead th:last-child {
    border-right: none;
}


.table-hover > tbody > tr:hover {
    background: rgba(215,215,254,1);
}

tbody tr:hover, tr.selected {
    background: rgba(215,215,254,1);
}

@media screen and (max-width: 1919px) {
    .table-fixed tbody {
        min-height: 486px;
        height: 486px;
    }
}



/*Отчет по продажам*/


.report_sale_id {
     width: 10%;
}
.report_sale_name {
     width: 35%;
}
.report_sale_count {
     width: 15%;
}
.report_sale_price {
     width: 15%;
}
.report_sale_realfoodcost {
     width: 15%;
}
.report_sale_percent {
     width: 10%;
}

/*Кассовый отчет*/

.report_cashbox_number_shift {
     width: 11.2%;
     border: 0px solid #000!important;
}

.report_cashbox_time {
     width: 15.7%;
     border: 0px solid #000!important;
}

.report_cashbox_name {
     width: 26.1%;
     border: 0px solid #000!important;
}

.report_cashbox_info {
     width: 9.2%;
     border: 0px solid #000!important;
}

.report_cashbox_payment {
     width: 13.2%;
     border: 0px solid #000!important;
}

.report_cashbox_summ {
     width: 12.2%;
     border: 0px solid #000!important;
}

.report_cashbox_preorder {
     width: 12.2%;
     border: 0px solid #000!important;	
}


/*По операторам*/

.report_operator_name,
.report_operator_count {
     width: 49.3%;
}


/*По курьерам*/

.report_courier_name {
     width: 33%;
}

.report_courier_count {
     width: 24.5%;
}

.report_courier_array {
     width: 41%;
}



/*Расход*/


/*Приход*/


/*Списания*/