
.Container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}


/* indent for all tree children excepts root */
.Node {
    background-image : url(/assets/image/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
    background-image : none;
}


/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(/assets/image/i_half.gif);
    background-repeat : no-repeat;
}

.IsLastNode {
    background-image : url(/assets/image/i_half.gif); !important;
    background-repeat : no-repeat;!important;

}

.ExpandOpen .Expand {
    background-image: url(/assets/image/expand_minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(/assets/image/expand_plus.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(/assets/image/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;

}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}
.ExpandLeaf .Expand {
    cursor: auto;
}
